[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/dracula-theme"]
	path = vim/.vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
